/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

/* Colors */
@define-color background #1e2127;
@define-color foreground #abb2bf;
@define-color black #5c6370;
@define-color red #e06c75;
@define-color green #98c379;
@define-color yellow #e5c07b;
@define-color blue #61afef;
@define-color lightblue #2b2f38;
@define-color magenta #c678dd;
@define-color cyan #56b6c2;
@define-color light #828791;
@define-color white #EEEEEE;
@define-color highlight #5294e2;


@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @yellow;
    }
}

@keyframes blink-critical {
    70% {
        color: @light;
    }

    to {
        color: @red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0px;
}

/* The whole bar */
#waybar {
    background: @background;
    color: @foreground;
    font-family: Dejavu Sans;
    font-size: 12px;
}

/* Default style */
#battery,
#clock,
#backlight,
#cpu,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-power,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 0px;
    padding: 0px 4px;
    background: @background;
    border-radius: 5px;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#cpu.warning {
    color: @yellow;
}

#cpu.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 1s;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 4px;
}

#memory.warning {
    color: @yellow;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 1s;
    padding-left: 5px;
    padding-right: 5px;
}

#network.disconnected {
    color: orange;
}

#clock {
    margin: 5px 0;
    padding-top: 8px;
    color: @light;
    background: @lightblue;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 10px;
}

#pulseaudio,
#backlight,
#battery {
    color: @magenta;
}

#pulseaudio.muted {
    color: @red;
}

#temperature.critical {
    color: @red;
}

#window {
    margin: 5px 0;
    font-weight: bold;
    margin-left: 5px;
    color: @light;
    background: @lightblue;
    padding: 4px 10px;
    border-radius: 10px;
}

#workspaces {
    font-family: monospace;
    font-size: 16px;
    background: @background;
}

#workspaces button {
    min-width: 40px;
    margin-left: 5px;
    color: @white;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: @highlight;
    border-bottom: 2px solid @blue;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#tray {
    background: @black;
    padding: 3px 3px;
    margin: 5px 5px;
}

#custom-power {
    margin-left: 15px;
    padding: 0 8px;
    font-size: 18px;
    font-weight: bold;
    color: @red;
}

#custom-launcher {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;
}
